<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 2010 ESRI
//
// All rights reserved under the copyright laws of the United States.
// You may freely redistribute and use this software, with or
// without modification, provided you include the original copyright
// and use restrictions.  See use restrictions in the file:
// <install location>/License.txt
//
// Read more about ArcGIS API for JavaScript //developers.arcgis.com/javascript/index.html
////////////////////////////////////////////////////////////////////////////////
-->
<configuration xmlns:xsi="//www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../xsd/config.xsd">
    <title>Colorado Hunting Atlas</title>
    <subtitle>Colorado Parks and Wildlife</subtitle>
    <app>huntingatlas</app>
    <!-- logo in header bar-->
    <logo>assets/images/cpwlogo_48x48.png</logo>
    <logourl>https://cpw.state.co.us</logourl>
	<httpproxy>/proxy/DotNet/proxy.ashx</httpproxy>
	<!-- Do not show the disclaimer when the following tag is set to true. This tag is not required -->
    <noDisclaimer>false</noDisclaimer>
    <style>
		<font name="Helvetica" size="11"/>    	
    </style>
    
    <!-- REST endpoint to a GeometryService. This should be a service published by CPW and not pointing at an ESRI service.  Use to convert points to new projections. -->
    <geometryservice url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/Utilities/Geometry/GeometryServer"/>
    
    <printservicegeo>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/georefPrinting/GPServer/georefPrinting</printservicegeo>
	<printservice>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/ExportWebMap/GPServer/Export%20Web%20Map</printservice>
    
	<!-- Find a Place Service **NEW** -->
	<findplaceservice url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/GNIS_Loc/GeocodeServer"/>
	
	<!-- Address Service **NEW** -->
	<addressservice url="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates"/>
	
    <!-- Key to allow Bing Map background layers to work.  Do not change. -->
	<!--bing key="Ak1eor2ZBWpGcsTkRL8PjLwDpPda-_tK9v-PS-5IbeiOpKm0Eq6n4Xdf26hFbAN6"/-->

    <!-- wkid is required.  This is the spatial reference number.-->
    <map top="85" wkid="102100"
    	initialextent="-12350000 4250000 -11150000 5250000">
        <!-- operationallayers:  Note: Displays in reverse order. -->
        <!-- feature service or map service with groups and layers 
            tag: layer
            attributes:
                label: service display name
                open: true or false, is this group open?
                type: featureservice, mapservice
                visible: true or false
                alpha: opacity 0.8
                url: MapServer or FeatureServer URL
        -->
        
        <!-- group layer
            tag: layer
            attributes:
                group: group name
                open: true or false, is this group open?
                visible: true or false
                alpha: opacity 0.8
                radio: true or false, use radio buttons for children (only one visible at a time). Default is false if not specified.
        -->

        <!-- sub layer in parent group
            tag: layer
            attributes:
                label: service display name
                parentGroup: group name
                visible: true or false
                alpha: opacity 0.8 (optional)
                url=a FeatureService 
        -->
        <!-- sub group under the parent group with or without layers under it.
            tag: layer
            attributes:
                group=label
                parentGroup=parent group name
                open=true or false, is this group open?
                alpha=opacity for the group
                visible=true or false, is this group visible?
                url=a FeatureService to add layers to this group. 
                layerIds=FeatureService ids in display order, and can use 3-6,9,11 format. If this is missing, it will just add the group and the rest of the attributes are ignored.
                layerVis=visibility of each layer in display order.
                layerNames=optional display name. If missing, it will use names from FeatureService. Format="layer1 name,layer2 name,..." in display order.
        -->
        <operationallayers>
			<!--layer label="Motor Vehicle Use Map" open="false" type="dynamic" visible="false" alpha="0.85"
					url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/mvum/MapServer"/-->
			<!-- Layer must be named "Hunter Reference".  It is used in widgets/Legend/toc/tocClasses/TocMapLayerItem.as -->
			<layer label="Hunter Reference Old" open="true" type="dynamic" visible="false" alpha="0.8"
					url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/HuntingAtlas/HuntingAtlas_Base_Map/MapServer"/>
            <!-- Group layer -->
            <layer group="Hunter Reference" open="false" visible="false" alpha="1" radio="false"
                url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/HuntingAtlas/HuntingAtlas_Base_Map/MapServer"/>
            <!--layer label="Emergency Fire Closures" parentGroup="Hunter Reference" visible="false" alpha="0.8"
                url=""/>
            <layer group="Places of Interest" parentGroup="Hunter Reference" open="false" visible="false"
                url=""
                layerIds=""
                layerVis=""/-->

            <!-- campground symbol 
                const webStyleSymbol = new WebStyleSymbol({
                    name: "campground",
                    styleName: "Esri2DPointSymbolsStyle"
                });
            -->
            <layer label="Campgrounds and SWA Facilities" parentGroup="Hunter Reference" visible="true" alpha="0.8"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWAdminData/FeatureServer/0"/>
            <layer group="GMU boundary (Hunting Units)" radio="true" parentGroup="Hunter Reference" visible="true" alpha="0.8" open="true"
                url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer"
                layerIds="6-8" layerVis="true,false,false"/>
            <!--layer label="GMU boundary (Hunting Units)" parentGroup="Hunter Reference" visible="true" alpha="0.8"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWAdminData/FeatureServer/6"/-->

            <layer label="CPWSpeciesData" open="false" visible="true" alpha="0.8"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    />
            <layer group="Game Species" open="false" visible="false" alpha="0.7" radio="true"
                url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"/>
                <!--Elk layerNames="Migration Patterns,Migration Corridors,Winter Concentration Area,Winter Range,Summer Concentration Area,Summer Range,Resident Population Area,Overall Range"-->
                <!--Bighorn layerNames="Migration Patterns,Migration Corridors,Severe Winter Range,Winter Concentration Area,Winter Range,Summer Concentration Area,Summer Range,Overall Range"-->
                 <layer group="Black Bear" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="21,19,22"
                    layerVis="true,true,true"/>
                <layer group="White Tail Deer" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="194,193,195"
                    layerVis="true,false,false"/>
                <layer group="Turkey" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="201-203"
                    layerVis="true,true,true"/>
                <layer group="Pronghorn" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="115,119,121,122,124"
                    layerVis="false,false,true,true,false"/>
                <layer group="Mule Deer" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="96,102,104,105,99,106"
                    layerVis="false,true,true,true,true,false"/>
                <layer group="Mountain Goat" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="87,89-92"
                    layerVis="true,true,true,true,false"/>
                    <!-- Missing Moose Migration Corridors -->
                <layer group="Moose" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="80,82-85"
                    layerVis="true,true,true,true,true,true,false"/>
                <layer group="Elk" parentGroup="Game Species" open="true" visible="true"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="33,40,42,43,35,36,39,44"
                    layerVis="false,true,true,true,false,true,true,false"/>
                <layer group="Bighorn" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="8,9,15-17,10,11,18"
                    layerVis="false,true,true,true,true,false,true,false"/>

               

			<!--layer label="Game Species" open="false" type="dynamic" visible="false" alpha="0.7"
					url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/HuntingAtlas/HuntingAtlas_BigGame_Map/MapServer"/-->	
            <layer label="CPW State Park Roads"	open="true" type="dynamic" visible="false" alpha="1"
                url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWAdminData/FeatureServer/1"/>
			<layer label="Motor Vehicle Use Map" open="true" type="dynamic" visible="false" alpha="1"
                    url="https://apps.fs.usda.gov/arcx/rest/services/EDW/EDW_MVUM_02/MapServer"/>
            <layer label="BLM Roads and Trails" open="true" type="dynamic" visible="false" alpha="1"
                    url="https://gis.blm.gov/coarcgis/rest/services/transportation/BLM_CO_GTLF/MapServer" />     
            <layer label="Wildfire Incidents" open="true" type="dynamic" visible="true" alpha="0.8"
                    url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/0" />      
            <layer label="Wildfire Perimeters" open="true" type="dynamic" visible="true" alpha="0.8"
                    url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/1" />
            <!--layer label="Wildfire Perimeters 2020" open="true" type="dynamic" visible="true" alpha="0.8"
					url="https://services3.arcgis.com/T4QMspbfLg3qTGWY/arcgis/rest/services/Public_Wildfire_Perimeters_View/FeatureServer/0"/-->
        </operationallayers>
		
		<hideGroupSublayers>Emergency,Field Office,Chamber of Commerce or Welcome Center,License Agent,Campgrounds and SWA Facilities,GMU boundary (Hunting Units)</hideGroupSublayers>
		<radiolayers>Game Species</radiolayers>
    </map>	 
    
    <widgetcontainer>
         <!-- preload can be set to "open" or "minimized" -->
		 <!-- video is a link to a help video. This link will be in the help modal window -->
         <widget label="Map Layers &amp; Legend"
         	preload="open"
			height="420"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
		 <!-- Widget label must contain the word "Report"-->
         <widget label="Hunter Resource Report"
            preload="minimized"
			video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
         <widget label="Feature Search"
            preload="minimized"
			video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
         <widget label="Address"
            preload="minimized"
			video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
         <widget label="Draw, Label, &amp; Measure"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
         <widget label="Bookmark"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
          <widget label="Settings"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
    </widgetcontainer>

    <links>
    <!-- Note the icons and labels must all be different.  This is how it looks up the url. -->
    	<!-- url gets replaced in readConfig.js to preserve url parameters -->
		<link label="Go Mobile"
    		url=""
			icon="assets/images/i_mobile.png"/>
		<link label="Big Game Brochure"
    		url="https://cpw.state.co.us/aboutus/Pages/RegulationsBrochures.aspx"
    		icon="assets/images/i_documentadd.png"/>
		<link label="Buy License!"
    		url="https://cpw.state.co.us/BuyApply/pages/hunting.aspx"
    		icon="assets/images/i_buylicense.png"/>
		<!--link label="What's New"
    		<url="https://ndismaps.nrel.colostate.edu/huntingatlas/videos/whatsnew/whatsnew.html">
    		icon="assets/images/i_solar.png"/--> 
    </links>     
</configuration>