/* CSS file # used for id=<name> . used for class=<name> :hover must not have a space */
body{			
	font-family:Helvetica, Arial, sans-serif;
	font-size: small;
	color:#494949;
	display:flex;
	flex-flow:column;
	width:calc(100vw - 2px);
	height:calc(100vh - 2px);;
	border:1px inset aliceblue;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden !important;/* try to stop scrolling to browser url on android */
    overflow-y: hidden !important;/* "" */
	position: relative;/* "" */
}

#header {
	font-size: 1em;
	background-color: #BCD8F4;
	background-image: linear-gradient(#FFFFFF 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
	background-repeat: repeat-x;
	box-sizing: border-box;
}
#footer {
	display:flex;
	flex-direction: row;
	background-color: #BCD8F4;
	box-sizing: border-box;
	padding: 5px;
	align-items: center;
	justify-content: space-between;
}
.title {
	font-weight: bold;
}

#main{
	flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
#mapDiv {
	box-sizing: border-box;
	overflow:hidden;
	flex:1;
	/*transition: margin-left .7s;*/
}
#overviewDiv {
	width: 300px;
	height: 200px;
	z-index: 1;
	overflow: hidden;
}

  /* overview map location rectangle */
  #extentDiv {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 2;
	cursor:move;
  }

#leftPane {
	max-width: 100%;
	transition: width 0.7s;
	border:1px solid lightgray;
	overflow: auto;
	padding: 0;
    background-color: whitesmoke;
	border: 1px solid slategray;
    box-shadow: 2px 2px 5px slategrey;
}
#subtitle{
	margin:2px;
	font-weight:bold;
	font-size:small;
}
#title{
	font-weight:bold;
	font-size:large;
	margin:2px;
}
/* Desktop */
@media only screen and (min-width: 1200px){
	#leftPane{
		width:400px;
    	position: unset;
	}
	#findBtnOpen, #findBtnClose, #menuBtn{
		display:none;
	}
	#titleBox{
		text-align:left;
	}
	#subtitle{
		display:block;
	}
	#findDiv{
		right:10px;
		margin-right:0px;
		display:flex;
	}
	#xycoords{
		display:block;
	}
	.largeCheckbox{
		transform: scale(1.5);
		margin: 5px;
	}
	.dialog{
		max-width:710px;
	}
}
/* Mobile */
@media only screen and (max-width: 1199px){
	#leftPane{
		width:0;
		top: 0;
		bottom: 0;
    	position: absolute;
	}
	#titleBox{
		text-align:center;
	}
	#subtitle{
		display:none;
	}
	#toolbar{
		display:none;
	}
	#findDiv{
		right:3em;
		margin-right:-150vw;
		display:none;
	}
	#findBtnOpen{
		display:inline-block;
	}
	#findBtnClose{
		display:none;
	}
	#xycoords{
		display:none;
	}
	.largeCheckbox{
		transform: scale(2);
		margin: 10px;
	}
	.dialog{
		max-width:90%;
	}
	.esri-expand__container--expanded{
		height:80%;
	}
}
#bmGallery{
	list-style: none;text-align: center;display:flex;padding-left:0;flex-flow: wrap;justify-content: center;
}
#bmGallery li{
	padding:10px;
	width:100px;
}
#bmGallery img{
	object-fit:cover;
}
.bmUnselected img {
	border:none;
	width: 100px;
	height: 70px;
}
.bmSelected img {
	border:3px solid gold;
	width: 94px;
	height: 64px;
}
.headerBtn {
    /*background-color: #5877a2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#4a6c9b), color-stop(0.02, #8ea4c1), color-stop(0.5, #5877a2), color-stop(0.5, #476999));
    background-image: linear-gradient(to bottom, #222222 0%, #8ea4c1 2%, #5877a2 50%, #476999 50%, #4a6c9b 100%);
	border-radius: 5px;*/
	display: inline-block;
    position: relative;
    padding: 0;
    height: 2em;
	width: 2em;
	margin: 10px 3px;
    text-align: center;
    font-family: Helvetica;
    font-size: 1.2em;

}
.headerBtn img{
	width:1.2em;
	height:1.2em;
}
.myBtn{
	cursor: pointer;
	color: #6e6e6e;
	text-shadow: rgb(0 0 0 / 60%) 0 -1px 0;
	border:1px outset lightblue;
	border-radius: 4px;
	background-color:rgb(255 255 255 / 90%);
	box-shadow:0 1px 2px rgb(0 0 0 / 30%);
}
.myBtn:hover{
	background-color: rgb(240, 240, 240);
}
.myBtn:active{
	border:1px inset lightblue;
}
.myClearBtn{
	font-weight: normal;
	cursor:pointer;
	color:#6e6e6e;
	border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.myClearBtn:hover{
	font-weight:bold;
}

#xyCoordsDialog{
	margin: 0 auto;
    z-index: 2;
    position: fixed;
    bottom: -500px;
	transition: bottom 1s;
	right:0;
	left:0;
}
.dialog{
	border: 1px solid #b5bcc7;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 5px grey;
	margin:-20px auto;
	width:fit-content;
	height: fit-content;
	max-height: calc(100vh - 100px);
	display:none;
    flex-direction: column;
	z-index: 4;
	padding-bottom:10px;
}
.dialogTitle{
	margin: 0;
    padding: 10px;
	background-color: #cfe5fa;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #b5bcc7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.dialogButton{
	margin: 0 5px 0 5px;
    padding: 5px 20px;
	background-color: #cfe5fa;
	background-repeat: repeat-x;
    background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    _background-image: none;
    border: 1px solid #759dc0;
	border-radius: 5px;
}
.dialogButton:hover{
	background-color: #86bdf2;
	transition-duration: 0.2s;
}
.dialogContent{
	overflow: auto;
	padding:10px;
}

option{
	padding: 0.5em 2px;
}



/* wrap long text in dialog panes. For long url */
.dijitDialogPaneContentArea {
	word-wrap:break-word;
}
/* Identify Popup width */
.esriPopup .esriPopupWrapper .sizer{
	width:400px!important;
}
.esriPopup .esriPopupWrapper .sizer content{
	width:400px!important;
}
/* Identify Header Color */
.esriPopup .esriPopupWrapper .titlePane {
	background-color: #759DC0;
}
/* Identify title add ellipsis if too long */
.esriPopup .esriPopupWrapper .titlePane .title{
	width: 320px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.esriPopupItemTitle {
	position: relative; 
	left: -5px; 
	font-weight: bold; 
	overflow: hidden; 
	background-color: #ddd; 
	width: 100%; 
	border-bottom: 2px ridge black;
	margin-top: -6px;
	padding: 6px 2px 5px 5px;
}
/* We are not use setFeatures to set content so actionsPane is hidden. The actionsPane contains Zoom to, 
Get Directions, elevation, and map click XY. Make it visible. 6-8-18 change margin: -10px... to -5px */
.esriPopup .sizer .actionsPane .hidden {
	display: block;
	background-color: #BCD8F4;
	background-image: linear-gradient(#FFFFFF 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
	padding: 5px;
	margin: -5px -5px 0 -5px;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border: 1px solid #ccc;
}
/* Make identify popup in front of Set Basemaps panel */
.esriPopup {
	z-index: 1000;
}

/* Basemap Gallery  adjust height for 2 line title*/
.esriMobileGallery .thumbnailcontainer.small {
	height: 115px;
}
/* add scrollbar for Basemap Gallery */
/*#basemapGallery .slideContainer {
	overflow: auto;
	height: 330px;
}*/

#search {
	position: absolute;
	z-index: 3;
	top: 10px;
	right: 10px;
	background: transparent;
	overflow:visible;
}

.container {
	width: 435px;
	clear: both;
}
.container label {
	display: inline-block;
	width:100px;
	text-align: right;
}
.container input {
	clear: both;
}
.container select {
	clear: both;
}
#findDiv{
	flex-direction:row;
	position: absolute;
	top: 10px;
	transition: margin-right .7s;
}
.findBtnHelp{
	align-self: center;
}
.findBtnHelp img {
	position:relative;
	right: 25px;
	z-index: 1;
}
#findCombo{
	height: 2em;
    width: 350px;
	max-width: calc(100vw - (1em * 5) - 95px);
    padding-left: 40px;
	padding-right: 25px;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 2px solid grey;
}
.findBtnClear {
	z-index: 1;
	height:calc(2em + 6px);
	background-color: white;
	text-align: center;
	vertical-align: middle;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	opacity: 0.2;
	filter: alpha(opacity=20);
	cursor: pointer;
}
#findBtnOpen, #findBtnClose{
	position: absolute;
    right: 0px;
}
/*.findBtnX img {
	position:absolute;
	top: 6px;
	right: 19px;
	opacity: 0.6 !important;
	filter: alpha(opacity=100) !important;
	cursor: pointer;
	z-index: 1;
}
.findBtnX img:hover {
	opacity: 0.4 !important;
	filter: alpha(opacity=60) !important;
}*/
#findBtnSpan{
	position: relative;
    top: 1px;
    left: 1px;
    z-index: 1
}
#findBtnSpan button{
	height:calc(2em + 4px);
}
.glowBtn {
	width: 20px;
	height: 20px;
	border: 0;
	opacity: 1.0 !important;
	filter: alpha(opacity=100) !important;
}
.glowBtn:hover {
	opacity: 0.6 !important;
	filter: alpha(opacity=60) !important;
}
.graphBtn {
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: 1.0 !important;
	filter: alpha(opacity=100) !important;
	-moz-box-shadow: -2px -2px 3px #eee;
	-webkit-box-shadow: -2px -2px 3px #eee;
	box-shadow: -2px -2px 3px #eee;
	-moz-box-shadow: inset -2px -2px 3px #333;
	-webkit-box-shadow: inset -2px -2px 3px #333;
	box-shadow: inset -2px -2px 3px #333;
	margin-left:2px;
}
.graphBtn:hover {
	opacity: 0.8 !important;
	filter: alpha(opacity=80) !important;
}
.graphBtn:active {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	-moz-box-shadow: inset -2px -2px 3px #eee;
	-webkit-box-shadow: inset -2px -2px 3px #eee;
	box-shadow: inset -2px -2px 3px #eee;
	-moz-box-shadow: -2px -2px 3px #333;
	-webkit-box-shadow: -2px -2px 3px #333;
	box-shadow: -2px -2px 3px #333;
}
.graphBtnSelected {
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	-moz-box-shadow: inset -2px -2px 3px #eee;
	-webkit-box-shadow: inset -2px -2px 3px #eee;
	box-shadow: inset -2px -2px 3px #eee;
	-moz-box-shadow: -2px -2px 3px #333;
	-webkit-box-shadow: -2px -2px 3px #333;
	box-shadow: -2px -2px 3px #333;
	margin-left:2px;
}
.graphBtnSelected:hover {
	opacity: 0.8 !important;
	filter: alpha(opacity=80) !important;
}


.link {
	position:relative;
	float:right;
	color:black;
	font-weight:bold;
	cursor: pointer;
}
.link a {
	text-decoration:none;
	color:black;
}
.link:hover {
	text-shadow:1px 1px #aaa;
	color:black;
}
.link img {
	padding-left:25px;
	border: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	width:1.2em;
	height:1.2em;
	vertical-align:top;
	padding-right:5px;
}
.link:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/* header for left panel widgets */
.dijitTitlePaneTextNode {
	font-size: medium;
}
/* images for left panel widgets */
.dijitTitlePaneTextNode img{
	width: 30px;
	height: 30px;
	padding-right: 10px;
}
/* Put scrollbar at the edge for large TOC */
#tocPane_pane {
padding-right: 2px !important;
}
.claro .dijitTitlePaneContentInner {
	padding: 10px!important;
}
#FeatureSearchTabs_tablist,#bmTabs{
	width:100%!important;
}

#search_help {
	position:absolute;
	overflow:auto;
	padding:10px;
	font-size: .8em;
	top:38px;
	right:10px;
	width:350px;
	background-color:white;
	border-radius: 5px;
	border:1px solid #ccc;
	display:none;
}
label {
	font-size: small;
	font-weight: bold;
}

.help_icon {
	height:20px!important;
	width: 20px!important;
	opacity:.75;
	cursor: pointer;
}
.help_icon:hover {
	opacity:1;
}

/* Style all dojo.form.button(s)*/
.claro .dijitSelect .dijitArrowButtonInner, .claro .dijitComboBox .dijitArrowButtonInner {
	height:20px;
}
.claro .dijitSelect .dijitInputField, .claro .dijitTextBox .dijitInputField {
	padding:5px;
}
#streetTxt, #cityTxt, #zipTxt {
padding: 5px;
}
#widget_findCombo{
	padding:0 45px 0 25px!important;
}
#widget_gmuList .dijitInputField {
padding: 1px 2px;
}
#customXYlabel, #customLineLabel, #customPolyLabel, #drawlabel, #bookmarkName {
	padding:5px;
}
#bookmarkName{
	width:95%!important;
}
#drawlabel{
	margin-bottom:10px;
}
/* point style dropdown. (color and size of way points dots) */
#pointStyle > tbody > tr > td > div {
padding: 0px;
}

/* Find a Place */
.simpleGeocoder, .simpleGeocoder .esriGeocoderContainer {
	width: 400px;
}
/* Find a Place input area */
.simpleGeocoder .esriGeocoder input {
	width: 320px;
}
.simpleGeocoder .esriGeocoderResult {
	cursor: pointer;
}
/* height and scroll bar for drop down */
.simpleGeocoder .esriGeocoderResults {
	overflow: auto;
}
/* Partially matched text inside the result item. */ 
.simpleGeocoder .esriGeocoderResult .esriGeocoderResultPartial {
	font-weight: 700;
}
#mapscale {
	font-weight: 400;
	font-size: 1em;
	margin:0px;
}
#owner {
	margin:0px;
	font-weight: 500;
	font-size: .6em;
}

/****************/
/*     TOC      */
/****************/
/* this line hides layers when out of scale for the inline TOC */
/*#tocDiv .agsjsTOCOutOfScale {
	display: none;
}*/

.agsjsTOCLegendLabel {
	font-size: small;
	white-space:normal!important;
}
.agsjsTOCGroupLayerLabel {
	font-size: small;
	white-space:normal!important;
}
.agsjsTOCServiceLayerLabel {
	font-size: small;
	white-space:normal!important;
}
.agsjsTOCRootLayerLabel {
	font-size: small;
	font-weight: bold;
	white-space:normal!important;
}
/* Make height of Root Layer the same as the slider */
.agsjsTOCRootLayer {
	height: 2em;
}
/* Make it wrap nicely if the left panel is narrow */
.agsjsTOCContent {
	display: inline-block;
}
/* Move slider to right of TOC Root Layer */
.agsjsTOCRootLayer .agsjsTOCContent {
	position: relative;
	display: inline-block;
}
.agsjsTOCSlider {
	position:relative;
	height: 2em;
	top:-0.5em;
	float:right;
	width:12em;
}
/* tlb change TOC expand/collapse image to an right or down arrow (72x16 pixels) instead of default  + or - */
.agsjsTOCContent .dijitTreeExpando {
	background-image:url(../../assets/images/arrows.png) !important;
}
/* tlb use the blue right arrow */
.agsjsTOCContent .dijitTreeExpandoClosed {
	background-position: 48px 3px !important;
}
/* tlb use the blue down arrow */
.agsjsTOCContent .dijitTreeExpandoOpened {
	background-position: 16px 3px !important;
}
/* TOC Slider Labels transparent, opaque font size*/
.dijitRuleLabelH {
	font-size:.8em;
}
/* Set margins for TOC Slider Labels */
.claro .dijitRuleLabelsContainerH {
	margin: -7px 20px 0 30px;
	height: 1em;
}
/* Margins for TOC Slider Tick Marks */ 
.dijitRuleContainerH {
	margin: -12px 15px 5px;
	height: 0.3em;
}


/* Format large slider zoom bar */
/* filter:alpha(opacity=80);  for IE */
/*	-moz-opacity:0.8;   for Mozilla */
/*	opacity: 0.8;   for CSS3 */
/* 	//border: 1px solid #ccc; */
.claro .esriLargeSlider {
	border-radius: 5px;
	background-color: white;
	filter:alpha(opacity=80);
	-ms-filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	-khtml-opacity:.80;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
	width: 25px;/*60px;*/
}
/* left pane splitter button */
.claro .dijitSplitterV .dijitSplitterThumb {
	width: 10px;
	height: 40px;
	background-color: #666;
}

.ButtonSelected {
	border: 2px solid white;
	border-radius: 4px;
}

/* set title font properties */
.infowindow .window .top .right .user .titlebar .title { 
	font-weight:bold;
	font-size:14pt;
}
/* set content font properties */
.infowindow .window .top .right .user .content {
	font-style:italic;
	font-weight:bold;
	font-size:10pt;
}

/* Feature Search grid */
.dgrid-header, .dgrid-header-row, .dgrid-footer {
background-color: #eee;
background-repeat: repeat-x;
background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}
.dgrid-row-odd tr:hover, .dgrid-row-even tr:hover {
	background-color: #abd6ff;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	padding: 1px;
	border: solid 1px #759dc0;
	color: #000000;
	cursor:pointer;
}
.dgrid {
	height:200px!important;
	overflow:auto!important;
}
.dgrid-scroller {
	margin-top:22px!important;
}
.dgrid-header {
	height: 22px;
}

/* Resource Report */
#reportPreview {
	margin-top:5px;
	margin-bottom:5px;
	min-width:752px;
	min-height:528px;
	width:752px!important;
	height:528px!important;
}
#reportPreview  .map .container{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
}
#reportPreview_root {
	width: 100%!important;
	height: 100%!important;
}
#reportPreview_root .container{
	width: 100%!important;
	height: 100%!important;
}
#reportPreview_layers {
	width: 100%!important;
	height: 100%!important;
	min-width:752px;
	min-height:528px;
}