<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 2010 ESRI
//
// All rights reserved under the copyright laws of the United States.
// You may freely redistribute and use this software, with or
// without modification, provided you include the original copyright
// and use restrictions.  See use restrictions in the file:
// <install location>/License.txt
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../xsd/config.xsd">
    <title>Colorado Fishing Atlas</title>
    <subtitle>Colorado Parks and Wildlife</subtitle>
    <app>fishingatlas</app>
    <!-- logo in header bar-->
    <logo>assets/images/cpwlogo_48x48.png</logo>
    <logourl>//cpw.state.co.us</logourl>
	<httpproxy>/proxy/DotNet/proxy.ashx</httpproxy>

    <!-- Application logo at bottom right corner -->
    <!-- To change this logo and link, edit StaticImageWidget.xml-->
    <widget bottom="2" right="10" config="StaticImageWidget.xml" url="../widgets/StaticImage/StaticImageWidget.swf"/>
    
    <style>
		<font name="Helvetica" size="11"/>    	
    </style>
    
    <!-- REST endpoint to a GeometryService. This should be a service published by CPW and not pointing at an ESRI service.  Use to convert points to new projections. -->
    <geometryservice url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/Utilities/Geometry/GeometryServer"/>
    
    <!-- FishingAtas Letter Landscape, etc geopdf files do not exist on ndis-flex-2. Old note: Mobile download printservicegeo needs to be from same domain or it will not be able to rename the file with a download. This did not work on the Android app so this is no longer the case. -->
	<printservicegeo>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/georefPrinting/GPServer/georefPrinting</printservicegeo>
	<printservice>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task</printservice>
	
	<!-- Find a Place Service **NEW** -->
	<findplaceservice url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/GNIS_Loc/GeocodeServer"/>
	
	<!-- Address Service **NEW** -->
	<addressservice url="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates"/>
	
    <!-- Key to allow Bing Map background layers to work.  Do not change. -->
	<!--bing key="Ak1eor2ZBWpGcsTkRL8PjLwDpPda-_tK9v-PS-5IbeiOpKm0Eq6n4Xdf26hFbAN6"/-->

    <!-- wkid is required.  This is the spatial reference number.-->
    <map top="85" wkid="102100"
    	 initialextent="-12350000 4250000 -11150000 5250000">
         <!-- operationallayers:  Note: Displays in reverse order. -->
         <!-- Set open=true if you want this mapservice layer expanded at the start. -->
         <!-- Set opensublayer=comma delimited list of layer names under the mapservice checkbox to expand at the start. open must be true. -->
         <!--     example: open="true" opensublayer="Places of Interest,Township Range Sections" --> 
        <operationallayers>
            <layer label="Reference" open="false" type="dynamic" visible="false" alpha="0.85"
            		url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/FishingAtlas/FishingAtlas_Base_Map/MapServer"/>
			<layer label="Fishing Info" open="true" opensublayer="Recommended opportunties" type="dynamic" visible="true" alpha="0.9"
            		url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/FishingAtlas/FishingAtlas_Main_Map/MapServer"/>
			<layer label="Motor Vehicle Use Map" open="true" type="dynamic" visible="false" alpha="1"
					url="https://apps.fs.usda.gov/arcx/rest/services/EDW/EDW_MVUM_02/MapServer"/>
            <layer label="BLM Roads and Trails" open="false" type="dynamic" visible="false" alpha="1"
                    url="https://gis.blm.gov/coarcgis/rest/services/transportation/BLM_CO_GTLF/MapServer" />
			<layer label="Wildfire Perimeters" open="true" type="dynamic" visible="true" alpha="0.8" url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/1"/>
			<layer label="Wildfire Incidents" open="true" type="dynamic" visible="true" alpha="0.8" url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/0"/>
            <!--layer label="Wildfire Perimeters" open="false" type="dynamic" visible="false" alpha="0.8"
					url="https://services3.arcgis.com/T4QMspbfLg3qTGWY/arcgis/rest/services/Public_Wildfire_Perimeters_View/FeatureServer/0"/-->
       </operationallayers>
		
		<hideGroupSublayers>Fishing License Agent,Family friendly,More remote fly fishing,Ice fishing,Special Fishing Regulations,Fishing Information Point,Stocked with catchables (~10 inches),Emergency,Field Office,Chamber of Commerce or Welcome Center,Campgrounds and SWA Facilities</hideGroupSublayers>
		<radiolayers>Recommended opportunties</radiolayers>
    </map>
    
    <widgetcontainer>
         <!-- preload can be set to "open" or "minimized" -->
		 <!-- video is a link to a help video. This link will be in the help modal window --> 
         <widget label="Map Layers &amp; Legend"
         	preload="open"
			height="346"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
		<widget label="Feature Search"
            preload="open"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
		<widget label="Fishing Resource Report"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
         <widget label="Address"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
         <widget label="Draw, Label, &amp; Measure"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
         <widget label="Bookmark"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
          <widget label="Settings"
            preload="minimized"
            video="https://ndismaps.nrel.colostate.edu/huntingatlas/Videos.html"/>
    </widgetcontainer>

    <links>
    <!-- Note the icons and labels must all be different.  This is how it looks up the url. -->
	<!-- In the URL encode space as %20, '?' as %3F, '&' as %26 --> 
		<!-- url gets replaced in readConfig.js to preserve url parameters -->
		<link label="Go Mobile"
    		url=""
			icon="assets/images/i_mobile.png"/>
		<link label="Buy License!"
    		url="https://cpw.state.co.us/BuyApply/pages/fishing.aspx"
    		icon="assets/images/i_buylicense.png"/>
		<link label="Fishing Brochure"
    		url="http://case.epaperflip.com/Colorado/fishing"
    		icon="assets/images/i_documentadd.png"/>
		<link label="Stocking Report"
    		url="https://cpw.state.co.us/thingstodo/Pages/StockingReport.aspx"
    		icon="assets/images/i_documentadd2.png"/>
    </links>    
</configuration>