<div data-dojo-type="javascript/Bookmark">
	<span title="Bookmark Help"><img data-dojo-attach-event="onclick: _showHelp" alt="help button" class="help_icon" src="assets/images/i_help.png"/></span>
	<div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="bmTabs"  data-dojo-props="doLayout:false" style="width:95%;height:100%;">
		<div  title="Bookmarks" data-dojo-attach-point="bmListPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="selected:true">
			<span>Bookmarks are stored in a cookie in your browser history.</span><br/><br/>
			<span data-dojo-attach-point="bookmarkTab"></span>
		</div>
		<div title="Add Bookmark" data-dojo-attach-point="bmAddPane" data-dojo-type="dijit/layout/ContentPane">
			<span>Add current map as a bookmark named:</span><br/><br/>
			<input data-dojo-attach-point="bookmarkName" type="text" style="width:100%"/><br/><br/>
			<p style="text-align: center;"><button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="click: _addBookmark">Add Bookmark</button></p>
		</div>
	</div><br/>
</div>