<div>
<div data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-attach-point="_dialog" class="discContainer" style="display:none;">
	<h1 style="margin:0;border-radius:5px;background-color: whitesmoke;color:rgb(191, 197, 203);background-image: none;">
		<span style="font-size:20px;text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;" data-dojo-attach-point="_title"></span> 
		<span class="mblColorDefault mblToolBarButton mblToolBarButtonBody" style="margin:5px;float:left;" data-dojo-attach-point="_closeBtn">Close</span>
	</h1>
	<div class="discContent mblSimpleDialogText">
		<div data-dojo-attach-point="_content"></div>
	</div>
</div>
</div>